body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 4105px;
    width: 1600px;
    position: relative;
}
#first_screen{
    background-image: url('images/bg-image.png');
    background-size: 100%;
    color: white;
    height: 744px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
header{
    height: 95px;
    margin: 0;
    vertical-align: middle;
}
#burger{
    margin: 0;
    padding: 0;
}
.navi{
    display: inline-block;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0px;
    padding: 25px 0;
    vertical-align: middle;
    margin: 0 42px;
}
#socials{
    padding: 0;
    position: absolute;
    width: 100%;
    bottom: 90px;
}
.soc{
    display: inline-block;
    padding: 25px 0;
    vertical-align: middle;
    margin: 0 42px;
    height: 20px;
    width: 20px;
}
#first_screen h1{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */

    align-items: center;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
}
#first_screen p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    margin: 0;
    width: 504px;
    text-align: center;
}
